
@import "../scss/variables-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

li{
    list-style: none;
}
p{
    margin: 0;
}

.cardPlat{
    height: 364px;
    &_image{
        height:180px;
    }
    &_description{
        height: 110px;
    }
}

#search-ingredients{
    background-color: $color-ingredients;
    color:white;
    &::placeholder{
        color:white
    }
}

#search-appliance{
    background-color: $color-appareils;
    color:white;
    &::placeholder{
        color:white
    }
}

#search-ustensils{
    background-color : $color-ustensiles ;
    color:white;
    &::placeholder{
        color:white
    }
}
#no-recette{
	font-size: 20px;
}
//MyTags
#chooseTags{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	
	&__ingredients{
		div{	
			background-color: $color-ingredients;
		}
	}
	&__appliance{
		div{
			background-color: $color-appareils;
		}
	}
	&__ustensils{
		div{
			background-color: $color-ustensiles;
		}
	}
}
#chooseTags__ingredients, 
#chooseTags__appliance,
#chooseTags__ustensils{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
		div{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:10px;
			margin:5px;
			color:white;
			border-radius: 5px;
			p{
				margin-right: 5px;
			}
		}
	}

//TEST //custom select
#datalist-ingredients, #datalist-appliance, #datalist-ustensils {
	position: relative;

}

#datalist-ingredients.active #datalist-ingredients-options, 
#datalist-appliance.active #datalist-appliance-options,
#datalist-ustensils.active #datalist-ustensils-options
 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#search-ingredients, 
#search-appliance, 
#search-ustensils 
{
	padding-left: 1em;
	width: 100%;
	height: 54px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	box-shadow: none;
	border: none;
	outline: 0;
}



#search-ingredients:focus,
#search-appliance:focus,
#search-ustensils:focus
 {
	border: 1px solid #AA0000;
	outline: 0;
}


#datalist-ingredients.active i,
#datalist-appliance.active i ,
#datalist-ustensils.active i 
{
	transform: rotate(270deg);
}

#datalist-{
	&ingredients-options{
		background-color: $color-ingredients; 
	}
	&appliance-options{
		background-color: $color-appareils;
	}
	&ustensils-options{
		background-color: $color-ustensiles;
	}
}

#datalist-ingredients-options,
#datalist-appliance-options ,
#datalist-ustensils-options 
{
	display: none;
	position: absolute;
	margin: -3px 0 0 0;
	padding: 0;
	width: 100%;
	max-height: 600px;
	top: 100%;
	left: 0;
	list-style: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 100;
}

#datalist-ingredients-options li,
#datalist-appliance-options li,
#datalist-ustensils-options li
 {
	display: block;
	text-align: left;
	color: white;
	cursor: pointer;
}

#datalist-ingredients-options li:hover,
#datalist-appliance-options li:hover,
#datalist-ustensil-options li:hover
 {
	background: #4e00f0;
	color: #f00;
}