@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


$font-family-sans-serif: 'DM Sans', sans-serif;

$font-size-base:  0.6rem;

$color-ingredients : #3282F7;

$color-appareils : #68D9A4;

$color-ustensiles : #ED6454;